/* Accordions */
.os-accordion {
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  &-item {
    border-bottom: 1px solid #e2e8f0;

    &:last-child {
      border-bottom: none;
    }

    &.active .os-accordion-header::after {
      content: "-";
    }
  }

  &-header {
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #f9fafb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: "+";
      font-size: 1.25rem;
      font-weight: bold;
      color: var(--primary-color);
      transition: transform 0.3s ease;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: var(--primary-color);
      color: #fff;
      &::after {
        color: #fff;
      }
    }
  }

  &-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  &-inner {
    padding: 1rem 1.5rem;
  }
}
