/* Alerts */
.os-alert {
  padding: 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid;

  &--success {
    background-color: #e6fffa;
    border-color: #68d391;
    color: #2f855a;
  }

  &--error {
    background-color: #fff5f5;
    border-color: #e53e3e;
    color: #c53030;
  }

  &--info {
    background-color: #ebf8ff;
    border-color: #63b3ed;
    color: #2b6cb0;
  }

  &--warning {
    background-color: #fefcbf;
    border-color: #ecc94b;
    color: #b7791f;
  }
}
